myenv
.vscode
exension tab.PNG
exension tab1.PNG
how your terminal should look upon activation.PNG
parts of the course.PNG
sets.PNG
the key parts to learning a language.PNG
new repo icon.PNG
slect new repo.PNG